.fondoAcercaD{
    background-color: $acercaDeMi;

    h1{
        margin-top: 6rem;
        text-transform: uppercase;
        font-weight: bolder;
        font-size: 2.2rem;
    }

    .acercaDeMi {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    background-color: #9892d4;
    padding: 3rem;
    border-top-left-radius: 30%;
    border-bottom-right-radius: 30%;
    margin-bottom: 4rem;

    
    .fotoContainer{
        background-color: rgba(0, 0, 0, 0.929);
        width: 65rem;
        height: 20rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
    img{
        height: 20rem;
        border-radius: 40%;
        padding: .5rem;
    }
    
}
.divTexto{
    font-size: 1.3rem;
    padding-right: 1.5rem;
}
}

}