@import url('https://fonts.googleapis.com/css2?family=Raleway:ital@1&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

main {
  font-size: 10px;
}

body {
  font-family: $main-font;
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}